<div id="view" class="scroll" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <!--<div class="layout horizontal start-justified center">-->
    <!--<ui-select class="flex-3" v-on:change="onIpSelectChange" id="ipSelection">-->

    <!--<template v-for="ip in hotAddressArray">-->
    <!--<option v-bind:value="ip">{{ip}}</option>-->
    <!--</template>-->
    <!--</ui-select>-->
    <!--<ui-button v-disabled="false" v-on:confirm="onTestSelect">add select</ui-button>-->
    <!--<ui-button v-disabled="false" v-on:confirm="onLogIp">ip</ui-button>-->
    <!--</div>-->
    <div class="section" style>
        <ui-section>
            <div class="header greenColor">构建完成配置</div>
            <ui-prop name="自动替换热更新文件">
                <div class="layout horizontal center flex-1 ">
                    <ui-checkbox v-bind:checked="isManifest" v-on:change="onManifest"></ui-checkbox>
                </div>
            </ui-prop>
            <ui-prop name="version" tooltip="版本" v-show="isManifest">
                <div class="layout horizontal center flex-1 ">
                    <ui-input class="flex-1" v-value="autoPackVersion" v-on:blur="onSaveCfg"></ui-input>
                </div>
            </ui-prop>
            <ui-prop name="packageUrl" tooltip="服务器地址" v-show="isManifest">
                <div class="layout horizontal center flex-1 ">
                    <ui-input class="flex-1" v-value="packageUrl" v-on:blur="onSaveCfg"></ui-input>
                </div>
            </ui-prop>
            <ui-prop name="project.manifest" tooltip="assets下的manifest" v-show="isManifest"
                style="height: 70px; display: flex;">
                <ui-asset type="native-asset" v-on:change="onManifestUUID" v-value="manifestUUID" class="flex-1">
                </ui-asset>
            </ui-prop>
        </ui-section>
        <!--focused 属性目前似乎有个bug,箭头图标不对-->
        <ui-section>
            <div class="header greenColor">生成Manifest配置
                <div class="layout horizontal flex-1 center self-end end-justified">
                    <!-- <div class="self-end">
                        <ui-button v-on:confirm="onBtnClickHelpDoc" @click="onStopTouchEvent">
                            GitHub文档
                        </ui-button>
                        <ui-button v-on:confirm="onBtnClickTellMe" @click="onStopTouchEvent"
                                   style="background: url('http://wpa.qq.com/pa?p=2:774177933:51');width: 77px;height: 25px;">
                            QQ
                        </ui-button>
                    </div> -->
                </div>
            </div>
            <div class="layout vertical start-justified">
                <ui-prop name="版本号">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-1" v-on:blur="onInputVersionOver" v-value="version"></ui-input>
                    </div>
                </ui-prop>

                <ui-prop name="资源服务器url" tooltip="游戏热更新服务器的url">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-2" v-on:blur="onInPutUrlOver" v-value="serverRootDir"></ui-input>
                        <!--<ui-button v-on:confirm="onTestUrl">Test URL</ui-button>-->
                        <!--<ui-button v-on:confirm="onOpenUrl">浏览器访问</ui-button>-->
                        <ui-input style="width: 100px;" readonly v-value="remoteServerVersion"
                                  v-if="isShowRemoteServerVersion"></ui-input>
                    </div>
                </ui-prop>
                
                <ui-prop name="build项目资源文件目录">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-2" readonly disabled v-value="resourceRootDir"></ui-input>
                        <ui-button v-on:confirm="onSelectResourceRootDir">选择</ui-button>
                        <ui-button v-on:confirm="onOpenResourceDir">
                            <i class="icon-doc-text"></i>
                            <!--打开-->
                        </ui-button>
                    </div>
                </ui-prop>

                <ui-prop name="manifest存储目录">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-2" readonly disabled v-value="genManifestDir"></ui-input>
                        <!--<ui-button v-on:confirm="onSelectGenManifestDir">选择</ui-button>-->
                        <ui-button v-on:confirm="onOpenManifestDir">
                            <i class="icon-doc-text"></i>
                            <!--打开-->
                        </ui-button>
                    </div>
                </ui-prop>

                <div class="self-end">
                    <!--<ui-button class="self-start" v-on:confirm="onCleanAPPCfg">-->
                    <!--清除APP配置-->
                    <!--</ui-button>-->
                    <!--<ui-button class="self-end green" v-on:confirm="onBtnClickPackVersion"> 压缩打包</ui-button>-->
                    <ui-button class="self-end green" v-on:confirm="onClickGenCfg"> 生成</ui-button>
                    <ui-button class="self-end blue" v-on:confirm="onClickOpenVersionDir">
                        <i class="fa fa-folder-open">打开目录</i>
                    </ui-button>

                </div>
            </div>

        </ui-section>
        <ui-section>
            <div class="header greenColor">生成测试Manifest配置
            </div>
            <div class="layout vertical start-justified">
                <ui-prop name="版本号">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-1" v-on:blur="onInputVersionOver_Test" v-value="version_Test"></ui-input>
                    </div>
                </ui-prop>

                <ui-prop name="资源服务器url" tooltip="游戏热更新服务器的url">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-2" v-on:blur="onInPutUrlOver_Test" v-value="serverRootDir_Test"></ui-input>
                        <!--<ui-button v-on:confirm="onTestUrl">Test URL</ui-button>-->
                        <!--<ui-button v-on:confirm="onOpenUrl">浏览器访问</ui-button>-->
                        <ui-input style="width: 100px;" readonly v-value="remoteServerVersion_Test"
                                  v-if="isShowRemoteServerVersion_Test"></ui-input>
                        <ui-button v-on:confirm="userLocalIP">使用本机IP</ui-button>
                    </div>
                </ui-prop>
                <!------------------------------配置历史-------------------------------->
                <ui-prop name="资源服务器url配置历史">
                    <div class="flex-1 layout horizontal center">
                        <ui-select class="flex-2" style="width: auto" id="hotAddressSelect"
                                   v-on:change="onChangeSelectHotAddress">
                            <option v-for="(index, address) in hotAddressArray" v-value="address">
                                {{'['+index+'] ' +address}}
                            </option>
                        </ui-select>
                        <ui-button class="green" v-on:confirm="onBtnClickUseSelectedHotAddress"
                                   v-show="isShowUseAddrBtn">使用
                        </ui-button>
                        <ui-button class="red" v-on:confirm="onBtnClickDelSelectedHotAddress" v-show="isShowDelAddrBtn">
                            删除
                        </ui-button>
                    </div>
                </ui-prop>

                <div class="self-end">
                    <!--<ui-button class="self-start" v-on:confirm="onCleanAPPCfg">-->
                    <!--清除APP配置-->
                    <!--</ui-button>-->
                    <!--<ui-button class="self-end green" v-on:confirm="onBtnClickPackVersion"> 压缩打包</ui-button>-->
                    <ui-button class="self-end green" v-on:confirm="onClickGenCfg_TEST"> 生成</ui-button>
                    <ui-button class="self-end blue" v-on:confirm="onClickOpenVersionDir">
                        <i class="fa fa-folder-open">打开目录</i>
                    </ui-button>

                </div>
            </div>

        </ui-section>
        <ui-section>
            <div class="header greenColor">当前游戏配置</div>
            <ui-prop name="热更配置(检测提示)" v-show="localGameProjectManifest.length===0||localGameProjectManifest===null">
                <div class="flex-1 layout horizontal center">
                    <span class="flex-2" style="color: #ff1500;">
                        未发现manifest热更新配置文件,请生成一份后导入到项目
                    </span>
                    <!--<ui-input class="flex-2" placeholder="未发现manifest热更新配置文件,请生成一份后导入到项目">-->

                    <!--</ui-input>-->
                    <ui-button title="将生成的2个manifest文件导入到项目中" class="end-justified red"
                               v-on:confirm="selectProjectManifestDir">
                        导入
                    </ui-button>
                </div>
            </ui-prop>

            <div class="layout vertical" v-show="localGameProjectManifest.length>0">
                <ui-prop name="热更配置(project.mainfest)">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-1" disabled v-value="localGameProjectManifest"></ui-input>
                        <ui-button v-on:confirm="onOpenLocalGameManifestDir">
                            <i class="icon-doc-text"></i>
                            <!--打开文件夹-->
                        </ui-button>
                    </div>
                </ui-prop>
                <ui-prop name="热更配置(version.mainfest)">
                    <div class="flex-1 layout horizontal center">
                        <ui-input class="flex-1" disabled v-value="localGameVersionManifest"></ui-input>
                        <ui-button v-on:confirm="onOpenLocalGameManifestDir">
                            <i class="icon-doc-text"></i>
                            <!--打开文件夹-->
                        </ui-button>

                    </div>
                </ui-prop>
                <ui-prop name="package url:">
                    <div class="flex-1 layout horizontal center">
                        <h4 class="flex-2">
                            {{localGamePackageUrl}}
                        </h4>
                        <a v-show="localGamePackageUrl&&localGamePackageUrl.length>0"
                           href="{{localGamePackageUrl}}/version.manifest">
                            验证version.mainfest
                        </a>
                    </div>
                </ui-prop>
                <ui-prop name="游戏版本号:">
                    <div class="flex-1 layout horizontal center">
                        <h4 class="flex-2">{{localGameVersion}}</h4>
                        <ui-button title="将生成的2个manifest文件导入到项目中" class="end-justified blue"
                                   v-on:confirm="importManifestToGame">
                            导入manifest
                        </ui-button>
                        <ui-button class="end-justified" v-on:confirm="initLocalGameVersion">
                            <i class="icon-arrows-cw"></i>
                            <!--刷新-->
                        </ui-button>
                    </div>
                </ui-prop>
            </div>

        </ui-section>
        <!-----------------------------------Http静态文件服务----------------------------------->
        <ui-section>
            <div class="header greenColor">Http静态文件服务</div>
            <ui-prop name="文件目录">
                <ui-input readonly class="flex-1" v-value="staticFileDir"></ui-input>
                <ui-button @confirm="onBtnClickSelectHttpDir">...</ui-button>
                <ui-button class="blue" v-on:confirm="onBtnClickHttpDir">
                    <i class="fa fa-folder-open"></i>
                </ui-button>
            </ui-prop>
            <ui-prop name="访问URL">
                <div class="layout horizontal flex-1 end-justified center-center">
                    <div class="flex-1">
                        <a v-show="staticFileUrl!==null" href="{{staticFileUrl}}">
                            <span>{{staticFileUrl}}</span>
                        </a>
                        <span v-show="staticFileUrl===null">--</span>
                    </div>
                    <ui-button class="green" v-show="staticFileServer===null" @confirm="onBtnClickOpenStaticFileServer">
                        开启服务
                    </ui-button>
                    <ui-button v-show="false" class="red" v-show="staticFileServer!==null"
                               @confirm="onBtnClickCloseStaticFileServer">
                        关闭服务
                    </ui-button>
                </div>
            </ui-prop>
        </ui-section>


        <ui-section>
            <div class="header greenColor">测试环境</div>
            <div class="layout vertical">
                <div class="layout horizontal center" style="display: none;">
                    <div style="display: none">
                        <ui-select class="" v-on:change="onTestEnvChange" v-value="testEnvSelect" id="testEnvSelect">
                            <option value='0'>本地</option>
                            <option value='1'>阿里云</option>
                            <option value='2'>发送邮件</option>
                        </ui-select>
                    </div>
                </div>
                <!-------------------------------本地测试环境-------------------------------------->
                <div class="layout vertical" v-if="testEnvLocal">
                    <ui-prop name="package url">
                        <div class="flex-1 layout horizontal center">
                            <h4 class="flex-2">{{serverPackageUrl}}</h4>
                            <a v-show="serverPackageUrl&&serverPackageUrl.length>0"
                               href="{{serverPackageUrl}}/version.manifest">
                                验证version.manifest
                            </a>
                        </div>
                    </ui-prop>
                    <ui-prop name="服务器版本">
                        <div class="flex-1 layout horizontal center">
                            <h4 class="flex-2">{{serverVersion}}</h4>
                            <ui-button class="end-justified" v-on:confirm="refreshLocalServerVersion">
                                <i class="icon-arrows-cw"></i>
                                <!--刷新-->
                            </ui-button>
                        </div>
                    </ui-prop>

                    <ui-prop name="本机server物理路径">
                        <div class="flex-1 layout horizontal center">
                            <ui-input class="flex-2" disabled v-value="localServerPath"></ui-input>
                            <ui-button v-on:confirm="onSelectLocalServerPath">选择</ui-button>
                            <ui-button v-on:confirm="onOpenLocalServer">
                                <i class="icon-doc-text"></i>
                                <!--打开目录-->
                            </ui-button>
                        </div>
                    </ui-prop>
                    <ui-prop name="操作">
                        <div class="flex-1 layout horizontal center">
                            <h3 class="flex-2"></h3>
                            <ui-button class="end-justified red" v-on:confirm="onCleanSimRemoteRes">
                                <i class="icon-trash-empty" title="删除win32模拟器热更新资源"></i>
                                清理模拟器缓存
                            </ui-button>
                            <ui-button class="end-justified green" v-on:confirm="onCopyFileToLocalServer">部署</ui-button>
                        </div>
                    </ui-prop>
                    <ui-progress style="width: 100%;" v-value="copyProgress">40</ui-progress>
                </div>
                <!---------------------------------阿里云测试环境---------------------------------->
                <div class="layout vertical" v-if="testEnvALi">
                    <h2>阿里云</h2>
                    <ui-prop name="">

                    </ui-prop>
                    <div class="self-end">
                        <ui-button class="self-end green" v-on:confirm="onBtnClickAliTest"> 测试阿里云</ui-button>
                    </div>
                </div>
                <!---------------------------------邮件环境--------------------------------------->
                <div class="layout vertical" v-if="testEnvEmail">
                    <ui-prop name="添加邮件接收者">
                        <ui-input class="flex-2" v-on:blur="onInputMailPeopleOver" v-value="addMailPeople"></ui-input>
                        <ui-button v-if="isPeopleExist()">添加</ui-button>
                    </ui-prop>
                    <ui-prop name="邮件接收者" auto-height>
                        <div class="layout vertical">
                            <ui-checkbox v-for="(index, people) in emailPeopleArray" v-bind:value="people">
                                {{'['+index+']'+people}}
                            </ui-checkbox>
                        </div>
                    </ui-prop>

                    <ui-prop name="发布的游戏版本">
                        <ui-input class="flex-1" disabled v-value="serverRootDir"></ui-input>
                        <ui-input style="width: 100px;" disabled
                                  v-if="remoteServerVersion!== null && remoteServerVersion !== '' "
                                  v-value="remoteServerVersion">1.0
                        </ui-input>
                    </ui-prop>
                    <ui-prop name="更新内容" auto-height>
                        <ui-text-area class="flex-1" resize-v placeholder="更新内容" v-value="emailContent">
                        </ui-text-area>
                    </ui-prop>
                    <div class="self-end">
                        <ui-button class="self-end green" v-on:confirm="onBtnClickSendMail"> 发送邮件</ui-button>
                    </div>
                </div>
            </div>

        </ui-section>


    </div>

</div>
<div style="width: 100%; height: 150px;margin: 0 0 0 0 ;">
    <hr style="margin: 0 0 0 0 ;"/>
    <h2 style="margin: 0 0 0 0">日志:</h2>
    <textarea class="flex-1 " id="logTextArea" v-model="logView"
              style="width: 100%; height: 120px; background: #252525;	resize: none; color: #fd942b;	border-color: #fd942b;"></textarea>

</div>



